<div id="title">
	<h1>{{title}}</h1>
	<h2>{{subtitle}}</h2>
	<p>{{email}}</p>
</div>

<article class="about">
	<h2>Sobre mí</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis euismod leo, non laoreet nibh. Curabitur porttitor turpis sed justo facilisis, eu lobortis risus convallis. Aliquam at varius ipsum, non vulputate mauris. Nunc consequat enim eu venenatis accumsan. Nunc vel facilisis turpis. Pellentesque orci est, condimentum quis tincidunt sit amet, imperdiet cursus libero. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque id ligula non risus rutrum consectetur nec eu erat. In feugiat, massa ac mattis faucibus, enim diam tristique ipsum, et euismod nisl dolor a lectus. Aenean sed hendrerit elit, sed rutrum neque. Sed quis lacinia ligula, sed sollicitudin dolor. In tellus lectus, dignissim at blandit sed, consectetur nec mauris. Donec arcu ipsum, euismod et maximus sit amet, vehicula sagittis libero.</p>
</article>