/*Importar fuentes custom*/
@font-face{/*Para importar los fonts que se encuentran en la misma carpeta de styles*/
	font-family: "yanone";
	src: url("fonts/yanone.ttf");/*Archivo de fuente*/
}

@font-face{
	font-family: "finger";
	src: url("fonts/finger.ttf");
}
/*Generales*/

*{
	margin: 0px;
	padding: 0px;

}

body{
	font-family: "yanone", Arial, Helvetica;
	font-size: 20px;
	background: url("./img/pattern.png");
	background-attachment: fixed;/*Para que el fondo se mantenga fijo al deslizar hacia abajo en la página*/
}

.clearfix{/*Para limpiar el flotado entre los diferentes elementos*/
	float: none;
	clear: both;
}

/*Barra de navegación / Cabecera */

header{
	display: block;/*Para que actúe como un bloque*/
	width: 100%;
	height: 90px;
	background: rgba(53, 103, 164, 0.8);
	position: fixed;
	text-transform: uppercase;/*Todo en mayúscula*/
}


header ul{
	display: block;
	width: 39%;
	height: inherit; /*Lo hereda del padre*/
	margin: 0px auto;
	margin-top: -3px;
}

header ul li{
	display: inline-block;/*Para que cada elemento quede al lado del otro*/
	margin: 0px auto;
	text-align: center;
	line-height: 90px;
}

header a{
	display: block;
	padding-right: 20px;
	padding-left: 20px;
	height: inherit;
	text-decoration: none;
	color: white;
	transition: all 300ms;
}

header a:hover,/*Cuando se pasa el mouse por el elemento a del header*/
.actived{/*Para que cuando se seleccione una opción del menú se mantenga seleccionada(de otro color)*/
	background: rgba(0,0,0,0.8);
}

#logo{
	font-family: "finger";
	font-size: 30px;
}

#logo a{/*Para que la transición de color y de tamaño al seleccionarlo, tenga un periodo de 500ms*/
	transition: color 500ms, transform 500ms;
}

#logo a:hover{/*Logo central del menú en la cabecera*/
	background: transparent;
	color: black;
	transform: scale(1.50, 1.50);
}

/*Contenedor principal*/
#content{
	min-height: 650px;
	height: auto;/*Para que se vaya agrandando dependiendo la necesidad*/
	width: 75%;
	margin: 0px auto;
	box-shadow: 0px 0px 40px black;
	border-left: 1px solid #b7b7b7;
	border-right: 1px solid #b7b7b7;
	background: rgba(255,255,255,0.7);
	padding-top: 120px;
}

/*Pie de página*/
footer{
	width: 75%;
	margin: 0px auto;
	padding-top: 15px;
	color: rgba(0,0,0,0.5);
}

/* Sobre mi*/
#title{
	width: 70%;
	margin: 0px auto;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 70px;
}

#title h1{
	font-family: "finger";
	font-size: 60px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
}

#title h2{
	font-size: 25px;
	color: gray;
	margin-top: 5px;
	margin-bottom: 5px;
}

article.about{
	width: 70%;
	margin: 0px auto;
	margin-bottom: 20px;
	font-size: 23px;
}

.about h2{
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.about p{
	padding-top: 20px;
	padding-bottom: 30px;
	text-align: justify;
}


/*Sección con formulario*/

.container{
	padding: 50px;
	padding-top: 10px;
}

.container h2{
	display:block;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	margin-bottom: 15px;
}

form{
	width: 80%;
}

form label{
	display: block;
	width: 100%;
	margin-top: 10px;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form textarea{
	width: 40%;
	padding: 5px;
	margin-bottom: 5px;
}

form button,
form input[type="submit"]{
	display: block;
	font-size: 17px;
	padding: 10px;
	margin-top: 15px;
	color: white;
	background: rgba(53, 103, 164, 1);
	border: 1px solid rgba(13, 67, 133, 1);
	cursor: pointer;

}


form button:hover,
form input[type="submit"]:hover{
	background: rgba(53, 103, 164, 0.8);
	border: 1px solid rgba(13, 67, 133, 1);
}


form input[disabled]{
	opacity: 0.4;
	cursor: not-allowed;
}

.form_error{
	font-size: 13px;
	padding: 3px;
	background: red;
	color: white;
	margin-left: 5px;
	margin-bottom: 60%;
}

.message{
	width: 50%;
	padding: 5px;
	border: 1px solid #eee;
}

.success{
	background: green;
	color: white;
}

.succes a{
	color: white;
}

.failed{
	background: red;
	color: white;
}

/*Página de listado de proyectos*/
.project{
	list-style: none;
	display: block;
	float: left;
	width: 28%;
	text-align: center;
	margin-left: 1px;
	margin-right: 20px;
	margin-bottom: 30px;
}

.project .image{
	width: 100%;
	height: 200px;
	overflow: hidden;
}

.project img{
	width: 100%;
}

.project a{
	text-decoration: none;
	color: black;
}